
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?page=$1

ErrorDocument 403 https://app-ecf-garage-3d639a49eac3.herokuapp.com/error403
ErrorDocument 404 https://app-ecf-garage-3d639a49eac3.herokuapp.com/error404
ErrorDocument 500 https://app-ecf-garage-3d639a49eac3.herokuapp.com/error500

Options ALL -Indexes
ServerSignature Off
Options +FollowSymLinks
AddDefaultCharset UTF-8