* {
    box-sizing: border-box
}

/* Hide the default scrollbar */
body {
    margin: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  
  /* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    display: none;
  }
  
.slideshow-container {
    position: relative;
    background: rgba(168, 179, 184, 0.1);
}

.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

q {
    font-style: italic;
}

.author {
    color: cornflowerblue;
}


.custom-btn{
    color: #fff;
    background-color: #4169E1;
    border-radius: 6px;
    padding: 5px 10px;
    text-decoration: none;
}

.custom-btn:hover{
    background-color: #4169E1;
    color: #fff;
    scale: 1.03;
}

.image-div{
    background: url("http://localhost/garage_localhost/public/Assets/images/redcar.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
}
@media (max-width: 700px) {
    .title-section{
        padding-right: 0px !important;
    }

    h1{
        margin-top: 4rem !important;
    }
}