body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F8F6F5;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.dashboard-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-links a {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.dashboard-links a:hover {
    background-color: #eee;
}


.accordion-btn {
    font-size: 1rem;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    text-align: left;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.accordion-content {
    display: none;
    background-color: #eee;
    padding: 5px 0;
}

.accordion-content a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.accordion-content a:hover {
    background-color: #ddd;
}

@media (max-width: 760px) {
    h1 {
        margin-top: 7rem;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
}