
.btn-disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed; 
    pointer-events: none; 

  }
  
  .btn-disabled, .btn-disabled:hover {
    text-decoration: none; 
  }

  .car-image{
    width:300px;
  }


