
body {
  background-color:#F8F6F5;
  font-family:  Arial, Helvetica, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header{
  background-color:white;
  }
  
.btn {
  color: white;
  border: none;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}


/* buttons */
 .btn:hover {
  filter: brightness(85%);
  color: white;
}


  .btnsup:hover {
    background-color: #b30006 !important;
    color: white;
   }

  .btngreen:hover {
    background-color: #055624 !important;
    color: white;
   }

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

.card:hover {
    transform: scale(1.02);
    background-color: #f8f9fa;
    color: #343a40;
    transition: transform .2s, background-color .2s, color .2s;
}

#title {
  font-size: 50px;
  color: whitesmoke;
  text-shadow: 0px 0px 2px black;
}

.btnavis {
  padding: 8px 12px;
}

footer {
  margin-bottom: 0px;
  background-color: #D3D3D3;
  border-radius: 0px;
  margin-top: 80px;
}

.footer li {
  padding-top: 1px;
}

.titre-horaires {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}


.adresse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.perso-color {
  color: #7f1a55;
  font-family: bold
}


.info {
  color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 250px;
  height: 50px;
  background-color: inherit;
  margin: 5px auto;
}

.details {
  border-radius: 5px;
  width: 125px;
  height: 50px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details2 {
  width: 125px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.alert-fixed {
  position: fixed;
  top: 20px;
  left: 50%; 
  transform: translateX(-50%);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s ease, top 0.3s ease; 
}

#crossicon{
  font-size: 24px;
  cursor: pointer;
}

  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }

  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }


.equipement {
  text-decoration: underline;
}

@media (max-width: 760px) {
  .equipements {
      margin-top: 1em;
  }

  header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  body{
    margin-top: 6em;
  }
  
}

@media (min-width: 760px) {
  .alert-fixed {
    position: fixed;
    top: 20px;
    left: 85%; 
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s ease, top 0.3s ease; 
  }
}